@page
@model cronch.net.Pages.DisclaimerModel
@{
    ViewData["Title"] = "Disclaimer";
}

<div class="text-center">
    <h1 class="display-4">Disclaimer</h1>
    <p><b>This site does not store any content from Crunchyroll on our servers.</b><br />All of the HLS video stream convertions is done in the user's browser, and never touches our servers.</p>
</div>