@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>crunchyroll take me home to my waifus and my imoutos (crunchyroll dl program for the web)</p>
<!--        
        <div class="container">
            <video controls crossorigin playsinline poster="https://storage.googleapis.com/shaka-asset-icons/angel_one.webp"></video>
        </div>
-->
        <div class="plyr__video-embed" id="player">
            <iframe src="https://www.youtube.com/embed/fyrK7CCF5yU?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
                    allowfullscreen
                    allowtransparency
                    allow="autoplay"></iframe>
        </div>
    </div>
